In [1]:
import pandas as pd
import numpy as np
import os
import csv
from sqlalchemy import create_engine

In [2]:
# read and create dataframe
movie_load = 'movie_data.csv'

#movie_load = os.path.join('movie_data.csv')
movie_df = pd.read_csv(movie_load, encoding= 'utf8')
movie_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
#rename columns and repositions
movie_df = movie_df.rename(columns={'director_name': 'Director','gross': 'Gross_Income',
                                    'movie_title': 'Movie Title','content_rating': 'Content Rating', 
                                    'budget': 'Budget', 'title_year': 'Year','imdb_score': 'IMDB Score'})

In [6]:
#create genere list
#genfive = pd.Series(list(movie_df["Genere"]))
#gen = pd.get_dummies(movie_df['Genere'].str.split('|').apply(pd.Series).stack()).sum(level=0)

In [7]:
#new_movie_df = pd.merge(movie_df, gen, left_index=True, right_index=True)
#new_movie_df.columns

In [8]:
movie_df = movie_df[['Movie Title','Year', 'Content Rating','Budget',
                             'Gross_Income', 'Director','IMDB Score']]
movie_df.head()

,Movie Title,Year,Content Rating,Budget,Gross_Income,Director,IMDB Score
0,Avatar,2009.0,PG-13,237000000.0,760505847.0,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,300000000.0,309404152.0,Gore Verbinski,7.1
2,Spectre,2015.0,PG-13,245000000.0,200074175.0,Sam Mendes,6.8
3,The Dark Knight Rises,2012.0,PG-13,250000000.0,448130642.0,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,Doug Walker,7.1

In [10]:
#Drop NaN
drop_df = movie_df.dropna()
drop_df.head()
drop_df.to_csv("Analysis.csv")
condf=drop_df
drop_df.columns

Index(['Movie Title', 'Year', 'Content Rating', 'Budget', 'Gross_Income',
       'Director', 'IMDB Score'],
      dtype='object')

In [11]:
#Convert to $
format_mapping= {'Gross_Income':'${:,.2f}','Budget': '${:,.2f}','Year': '{:.0f}'}
for key, value in format_mapping.items():
    condf[key] = drop_df[key].apply(value.format)
    
condf.head()


#condf['Budget']=drop_df['Budget'].map('${:,.2f}'.format)
#condf['Gross Income']=drop_df['Gross Income'].map('${:,.2f}'.format)
#condf['Number of User Votes']=drop_df['Number of User Votes'].map('{:,.0f}'.format)
#condf['Number of Critic Reviews']=drop_df['Number of Critic Reviews'].map('{:,.0f}'.format)
#condf['Number of User Reviews']=drop_df['Number of User Reviews'].map('{:,.0f}'.format)
#condf['Facebook Likes (Director)']=drop_df['Facebook Likes (Director)'].map('{:,.0f}'.format)
#condf['Facebook Likes (Actor 1)']=drop_df['Facebook Likes (Actor 1)'].map('{:,.0f}'.format)
#condf['Facebook Likes (Actor 2)']=drop_df['Facebook Likes (Actor 2)'].map('{:,.0f}'.format)
#condf['Facebook Likes (Actor 3)']=drop_df['Facebook Likes (Actor 3)'].map('{:,.0f}'.format)
#condf['Year']=drop_df['Year'].map('{:.0f}'.format)
#condf['Duration (Minutes)']=drop_df['Duration (Minutes)'].map('{:,.0f}'.format)
#condf['Number of Faces in Poster']=drop_df['Number of Faces in Poster'].map('{:,.0f}'.format)
#condf.head()

C:\Users\Melissa\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Movie Title,Year,Content Rating,Budget,Gross_Income,Director,IMDB Score
0,Avatar,2009,PG-13,"$237,000,000.00","$760,505,847.00",James Cameron,7.9
1,Pirates of the Caribbean: At World's End,2007,PG-13,"$300,000,000.00","$309,404,152.00",Gore Verbinski,7.1
2,Spectre,2015,PG-13,"$245,000,000.00","$200,074,175.00",Sam Mendes,6.8
3,The Dark Knight Rises,2012,PG-13,"$250,000,000.00","$448,130,642.00",Christopher Nolan,8.5
5,John Carter,2012,PG-13,"$263,700,000.00","$73,058,679.00",Andrew Stanton,6.6

In [12]:
condf.to_csv("Clean_Data.csv")